* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(233, 230, 230);
  overflow-y: scroll;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-dark-blue);
}

h1 {
  font-weight: bolder;
  font-size: clamp(2rem, 8vw + 1rem, 6rem);
  padding-bottom: 1rem;
}

h1,
p {
  text-align: center;
}

p {
  font-size: clamp(1rem, 2vw + 1rem, 5rem);
  padding: 4rem;
  color: var(--color-dark-blue);
}

label {
  top: 0;
  display: inline-block;
  color: var(--color-blue);
  font-size: 2.25rem;
}

input {
  margin: 2rem auto;
  padding: 1rem;
  font-size: 2rem;
  /* width: 80%; */
  max-width: 280px;
  background: transparent;
  color: var(--color-blue);
  border: 1px solid rgba(83, 83, 83, 0.364);
  box-shadow: 1px 0px 12px rgba(43, 42, 42, 0.349);
  border-radius: 1.75rem;
}

button {
  background: rgb(224, 158, 35);
  font-size: 2.5rem;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.438);
  margin: 3rem auto;
  padding: 1.75rem;
  min-width: 220px;
  max-width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.164);
  box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.349);
  border-radius: 1.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: clamp(2rem, 1vw + 1rem, 4rem);
  max-width: 1000px;
  height: 100vh;
  min-height: 640px;
  overflow: hidden;
}

.info-text {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 300;
  color: var(--color-blue);
  text-align: center;
  width: 100%;
}
.form-item {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: black;
  background: transparent;
}
.card {
  aspect-ratio: 1 / 1;
  min-width: 220px;
  overflow: hidden;
  /* background: var(--color-light-gray);
 */
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.164);
  box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.349);
  border-radius: 2rem;
}
